@page "/create-account"

<div class="create-account">
    <h3>Create Account</h3>

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control"/>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" />
    </div>

    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" />
    </div>

    <div>
        <input type="checkbox" id="privacyPolicy" name="privacyPolicy" />
        <label for="privacyPolicy">I agree to the <a href="/privacy-policy">Privacy Policy</a></label>
    </div>


    <button type="submit" class="btn-secondary">Create Account</button>

</div>


@code {
    // Add account creation logic here
}
