@page "/create-account"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime


<div class="create-account">
    <h3>Create Account</h3>

    <div>
        <p>because of the nature of the platform your Password will be generated for you. If you would like to learn more click here.</p>
    </div>

    <div>
        <label for="password">Password: </label>
        @if (privacyPolicyChecked && accountCreated)
        {
            @GeneratePassword()
        }
    </div>

    <div>
        <input type="checkbox" id="privacyPolicy" name="privacyPolicy" @onchange="TogglePrivacyPolicy" />
        <label for="privacyPolicy">I agree to the <a href="/Terms">Privacy Policy</a></label>
    </div>
    @if (!privacyPolicyChecked || !accountCreated)
    {
        <button type="submit" class="btn-secondary" @onclick="CreateAccount">Create Account</button>
    }
    else 
        {
        <button type="submit" class="btn-secondary" @onclick="Complete">I have written down my password</button>
    }

    

    <div>
        @if (!privacyPolicyChecked && accountCreated)
        {
            <span>You must agree to the privacy policy to create an account.</span>
        }
        <p>
            When you click create account your password will be shown.
        </p>
        <p>
            @if (privacyPolicyChecked && accountCreated)
            {
                <span>Your account has been created.</span>
            }
        </p>
    </div>
</div>

@code {
    private bool privacyPolicyChecked = false;
    private bool accountCreated = false;

    private async Task Complete()
    {
        await JSRuntime.InvokeVoidAsync("window.open", new Uri("/", UriKind.RelativeOrAbsolute).ToString(), "_blank");
    }

    private void TogglePrivacyPolicy(ChangeEventArgs e)
    {
        privacyPolicyChecked = (bool)e.Value;
    }

    private void CreateAccount()
    {
        accountCreated = true;
    }

    private string GeneratePassword()
    {
        string password = GenerateRandomString(7, 15);
        WritePasswordToCookie(password); // Write password as a cookie
        return password;
    }

    private string GenerateRandomString(int minLength, int maxLength)
    {
        string chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        Random random = new Random();
        int length = random.Next(minLength, maxLength + 1);
        return new string(Enumerable.Repeat(chars, length)
            .Select(s => s[random.Next(s.Length)]).ToArray());
    }

    private async Task WritePasswordToCookie(string password)
    {
        await JSRuntime.InvokeVoidAsync("setCookie", "MyCookie", password, 1);
    }
}
