@using System.Text.Json;

<div class="post">
    <h3>Post</h3>

    <div>
        <h1>@username</h1>
    </div>
    <div>
        <p>@postContent</p>
        <div>
            <button class="btn btn-secondary">
                <span class="material-symbols-outlined">
                    favorite
                </span>
            </button>
            <button class="btn btn-secondary">
                <span class="material-symbols-outlined">
                    chat
                </span>
            </button>
            <button class="btn btn-secondary">
                <span class="material-symbols-outlined">
                    send
                </span>
            </button>
        </div>
    </div>
</div>


@code {
    string postContent = "This is a post";
    string username;
    [Parameter]
    public string Content { get; set; }

    // Method to create random username
    public string GenerateUsername()
    {
        Random random = new Random();
        int randomNumber = random.Next(0, 1000);
        return "User" + randomNumber;
    }

    public string ExtractUserInputFromJson(string Content)
    {
        using (JsonDocument doc = JsonDocument.Parse(Content))
        {
            JsonElement root = doc.RootElement;
            JsonElement userInputElement;

            if (root.TryGetProperty("userInput", out userInputElement))
            {
                return userInputElement.GetString();
            }
        }
        return null; // Or an appropriate default value or error handling
    }

    protected override async Task OnInitializedAsync()
    {
        username = GenerateUsername();
        postContent = ExtractUserInputFromJson(Content);
    }
}
