@page "/terms"

<h3 class="none-post">Terms</h3>

<p class="none-post">
    Privacy Policy

    Introduction

    Code crusaders ("we," "us," or "our") operates  (the "Website").

    This Privacy Policy describes our commitment to your privacy and explains what information we may collect while you use the Website. It's important to note that we do not actively collect any personal information from you.

    Information We Do Not Collect

    We do not collect any personally identifiable information (PII) that can be used to contact or identify you. This includes, but is not limited to:

    Name
    Email address
    Phone number
    Address
    Social Security number
    Credit card information
    Information Collected for Website Functionality

    Non-Personal Data: We may collect certain non-personal data for the sole purpose of improving the functionality of the Website. This data may include:
    Usage Data: Information such as your browser type, operating system, and the pages you visit on our Website.
    Cookies: We use a minimal number of cookies to ensure the proper functioning of the Website. These cookies do not track your individual activity or browsing habits.
    Third-Party Partners

    Our Website is hosted on Amazon Web Services (AWS). AWS has its own privacy policy which outlines how they collect and use data. You can find their privacy policy here: https://aws.amazon.com/privacy/

    Security

    While we do not collect personal information, we maintain industry-standard security measures to protect the limited non-personal data we may collect.

    Your Choices

    Since we don't collect personal information, there is no data for you to access, rectify, erase, or restrict processing of.

    Contact Us

    If you have any questions about this Privacy Policy, please contact us: 

    Changes to This Privacy Policy

    We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.

    This policy is effective as of [Date] and will remain so unless there are any changes in our practices concerning user data, in which case, we will notify you of the changes by email and/or a prominent notice on our Website.
</p>

@code {

}
