
<div class="post">
    <h3>Post</h3>

    <div>
        <h1>USERNAME</h1>
        <h4>Time posted:</h4>
    </div>
    <div>
        <p>under this there should be some text</p>
        <p>Testing: @Content</p>
        <div>
            <button class="btn btn-secondary">
                <span class="material-symbols-outlined">
                    favorite
                </span>
            </button>
            <button class="btn btn-secondary">
                <span class="material-symbols-outlined">
                    chat
                </span>
            </button>
            <button class="btn btn-secondary">
                <span class="material-symbols-outlined">
                    send
                </span>
            </button>
        </div>
    </div>
</div>


@code {
    string postcontent = "This is a post";
    [Parameter]
    public String Content { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(Content);
    }


}
